.spinner-wrapper {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
}

.spinner {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #222;
  border-top-color: #009688;
  animation: 1s spin linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
